<div class="rating" id="<%= target %>" style="display: flex;">
    <% (1..5).each do |i| %>
        <input type="checkbox" id="star<%= i %>" <%= 'checked' if rate > i-1 %>>
        <label for="star<%= i %>">
            <svg viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
            </svg>
        </label>
    <% end %>
</div>
