<div class="container mt-5">
  <div class="h2" style="margin-top: 40px; margin-bottom: 50px; font-weight: 700;">
    <%= @note.title %>
  </div>
  <div class="card mb-3">
    <div class="card-header">良かった点</div>
    <div class="card-body"><%= @note.good %></div>
  </div>

  <div class="card mb-3">
    <div class="card-header">悪かった点</div>
    <div class="card-body"><%= @note.bad %></div>
  </div>

  <div class="card mb-3">
    <div class="card-header">次に意識すること・次に向けて取り組むこと</div>
    <div class="card-body"><%= @note.next %></div>
  </div>
</div>