<div id="<%= target %>" class="spinner" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="dot-spinner">
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
    </div>
    <p style="margin-top: 20px;">処理中です。しばらくお待ちください。</p>
</div>