<div class="d-flex justify-content-center mt-5">
  <div class="card shadow-lg" style="width: 70%; border: none;">
    <div class="card-title">グループを作成</div>
    <div class="card-body">
      <%= form_with model: group, local: true, html: {class: "needs-validation", novalidate: ""} do |form| %>
        <div class="mb-3">
          <label for="name" class="form-label">グループ名</label>
          <%= form.text_field :name, class: "form-control shadow-sm", id: "name", required: true %>
          <div class="invalid-feedback">
            グループ名を入力してください
          </div>
        </div>
        <div class="mb-3">
          <label for="introduction" class="form-label">紹介文</label>
          <%= form.text_area :introduction, class: "form-control shadow-sm", id: "introduction", rows: 3, required: true %>
          <div class="invalid-feedback">
            紹介文を入力してください
          </div>
        </div>
        <%= form.submit "送信", class: "btn btn-primary shadow" %>
      <% end %>
    </div>
  </div>
</div>