<div id="<%= target %>">
    <div class="h5 fw-bold mb-2">🤖 AIによる要約 🤖</div>
    <hr style="border-top: 1px solid grey; width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <div style="margin-bottom: 30px;">
        <%= markdown(message) %>
    </div>
</div>


