<div id='messages' data-room_id=<%= @group.id %> data-user_id=<%= current_user.id %>>
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
