<div class='col-md-8 offset-md-1'>
    <h2 class="title is-3" style="margin: 30px;">グループ一覧</h2>
    <% if @not_joining_group %>
        <p style="margin-left: 30px;">グループに参加しましょう。グループの管理者からの招待リンクにアクセスして参加できます。</p>
    <% else %>
        <table class='table table-hover table-inverse'>
        <thead>
            <tr>
            <th>グループ名</th>
            <th colspan="3"><%= image_tag 'group.png', size: "23x23" %></th>
            </tr>
        </thead>
        <tbody>
            <% @groups.each do |group| %>
                <tr>
                    <%# <td><%= attachment_image_tag(group, :image, size: "50x50", fallback: "no-image-icon.jpg")%>
                    <td><%= link_to group.name, group_path(group) %></td>
                    <td>
                        <p class="has-icons-left">
                            <%= group.users.size %>
                        </p>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
    <% end %>

</div>