<!DOCTYPE html>
<html>
    <head>
      <title>TacticaNote</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
      <style>
        .hero::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(37, 39, 71, 0.5);
          z-index: -1;
        }

        .btn {
          padding: 14px 18px;
          border-width: 2px;
          border-radius: 0;
        }
      </style>
    </head>

    <body>
      <% if current_user %>
        <div class="hero vh-100 d-flex align-items-center" style="background-image: url(<%= asset_path 'background.jpg' %>); background-position: center; background-size: cover; background-attachment: fixed; position:relative; z-index: 2;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 mx-auto text-center">
                    <h1 class="display-8" style = "color: white; font-size: calc(1.25rem + 2vw); font-weight: 750; ">課題と解決策を共有して、毎日の練習をより効果的に。</h1>
                    <h3 class="display-8" style = "color: white; font-size: calc(1.375rem + 1.0vw); margin-top: 50px;">　AI搭載。選手の思考の言語化をサポートする、共有型サッカーノート。　</h3>
                    <% if !session[:current_group_id] %>
                      <% @id = current_user.groups.first.id %>
                    <% end %>
                    <p style = "margin-top: 200px;"><%=link_to "Go To Dashboard", group_path(session[:current_group_id]), class: "btn btn-outline-light", style: "font-size: 17px;", "data-turbo": false %></p>
                  </div>
              </div>
          </div>
        </div>
      <% else %>
        <div class="hero vh-100 d-flex align-items-center" style="background-image: url(<%= asset_path 'background.jpg' %>); background-position: center; background-size: cover; background-attachment: fixed; position:relative; z-index: 2;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 mx-auto text-center">
                    <h1 class="display-8" style = "color: white; font-size: calc(1.25rem + 2vw); font-weight: 750; ">課題と解決策を共有して、練習をより効果的に。</h1>
                    <h3 class="display-8" style = "color: white; font-size: calc(1.375rem + 1.0vw); margin-top: 50px;">　AI搭載。選手の思考の言語化をサポートする、共有型サッカーノート。　</h3>
                    <p style = "margin-top: 200px;"><%=link_to "Get Started",new_user_registration_path, class: "btn btn-outline-light", style: "font-size: 17px;"%></p>
                  </div>
              </div>
          </div>
        </div>
      <% end %>
    </body>
</html>





