<div class="mt-5 mb-5 container">
    <h2 class="mb-3 text-center fw-bold">特定商取引法に基づく表記</h2>
    
    <div class="mb-4">
        <h5 class="mb-3 fw-bold">事業者名</h5>
        <p>TacticaNote（タクティカノート）</p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">代表者</h5>
        <p>杉村 実紀</p>
    </div>


    <div class="mb-4">
        <h5 class="mb-3 fw-bold">連絡先</h5>
        <p>メールアドレス: minorex.0117@gmail.com<br></p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">プラン価格</h5>
        <p>各プランの価格は、トップページのプラン一覧からご確認いただけます。</p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">プラン価格以外の必要料金</h5>
        <p>なし</p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">引き渡し時期</h5>
        <p>決済完了後、即時にサービスをご利用いただけます。</p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">お支払い方法</h5>
        <p>クレジットカード決済（VISA、Mastercard、JCB、American Express）</p>
    </div>

    <div class="mb-4">
        <h5 class="mb-3 fw-bold">返品・キャンセルについて</h5>
        <p>デジタルコンテンツの性質上、ご購入後の返品・キャンセルはお受けできません。ただし、サービス内容に重大な不備があった場合は、個別にご対応させていただきます。<br>
            月額プランは、マイページから次回更新日の前日までに解約手続きを行うことで、次回以降の請求は発生しません。
        </p>
    </div>
</div>
