<div class="mt-5 container">
    <h2 class="mb-3 text-center fw-bold">利用規約とプライバシーポリシー</h2>
    <h3 class="mb-4">利用規約</h3>
    <p>本アプリ「TacticaNote」（以下、「本アプリ」）は、ユーザーが自身の試合や練習の振り返りを記録し、共有するためのツールです。本利用規約は、本アプリの提供条件および利用者の責任について定めるものです。</p>
    <ul>
        <li>本アプリは、ユーザーのノート情報を一時的に処理しますが、サーバーに恒久的に保存することはありません。入力・選択された情報は、セッション内でのみ利用されます。</li>
        <li>ユーザーは、本アプリを自己の責任において利用してください。本アプリの利用に起因して発生したいかなる損害についても、当方は一切の責任を負いません。</li>
    </ul>
    
    <h3 class="mt-4 mb-4">プライバシーポリシー</h3>
    <p>本アプリは、ユーザーのプライバシーを尊重し、以下のポリシーに従って運営されています。</p>
    <ul>
        <li>本アプリは、第三者に個人を特定できる情報を提供することはありません。ただし、ユーザーが入力したノートの内容はサービスの改善のために収集することがあります。</li>
        <li>利用状況やパフォーマンス向上のため、Google Analyticsによる訪問者解析を実施しております。このデータは匿名化されており、個々のユーザーを特定するものではありません。</li>
        <li>ユーザーは、本アプリの利用をもって、本プライバシーポリシーに同意したものとみなされます。</li>
    </ul>
</div>
